@use '@shared/styles/variables' as *;

.root {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  position: relative;
}

.header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: -8px;
}

.resetBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  padding: 0;
  border: none;
  background: transparent;
  color: $color-brand-500;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.2s;

  &:hover {
    background: rgba($color-brand-500, 0.1);
    transform: rotate(90deg);
  }

  &:active {
    transform: rotate(180deg);
  }
}

.row {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.rowDisabled {
  opacity: 0.7;

  .label,
  .value {
    color: $color-text-secondary;
  }
}

.label {
  font-family: $font-text;
  font-size: 14px;
  color: $color-text-secondary;
}

.value {
  font-family: $font-text;
  font-weight: 600;
  font-size: 14px;
  color: $color-text-primary;
}

.amount {
  font-weight: 400;
  color: $color-text-secondary;
  font-size: 13px;
}

.slider {
  width: 100%;
}
